body{padding-top:72px;font-family:'Open Sans',sans-serif;margin:0px;}
.explain{color:#848484;font-size:18px;padding:20px 0px;font-style:oblique;}
.title-our-process{font-weight:bold;font-size:30px;text-align:center;margin:20px 0px 20px 0px;}
.our-process{font-size:50px;color:black;font-weight:normal;}
.our-process__span{position:relative;display:inline-block;padding:0 0px 20px;}
.our-process__span:before{content:"";position:absolute;bottom:0;left:50%;width:70px;height:2px;background-color:#FF8000;transform:translateX(-50%);}
.custom-section{font-size:50px;color:white;font-weight:normal;}
.Lorem{color:#848484;font-size:15px;font-style:oblique;}

/*Header*/
.navbar.bg-dark{--bs-navbar-hover-color:rgba(255,255,255,1);--bs-navbar-nav-link-padding-x:22px;--bs-navbar-padding-y:13px;--bs-nav-link-font-size:20px;font-weight:600;background:#000000!important;}

/*Home banner*/
.home-banner{background-image:url('img/BGR1-1400x713.png');background-size:cover;padding:100px 0 140px;}
.home-banner__logo{margin-bottom:30px;}
.home-banner__title{position:relative;padding-bottom:40px;margin-bottom:40px;font-family:'Raleway',sans-serif;font-size:36px;color:#ffffff;}
.home-banner__title:before{content:'';position:absolute;bottom:0;left:0;width:64px;height:2px;background-color:#fff;}
.home-banner__sub{margin-bottom:40px;font-size:16px;font-family:'Raleway',sans-serif;font-weight:300;color:#ffffff;}
.home-banner__btn{padding:8px 30px;font-family:'Raleway',sans-serif;border-radius:0;color:#ffffff;border:1px solid #fff;}
.home-banner__btn:hover{border-color:#fff;color:#fff;background-color:#000;}
.home-banner .card{font-size:20px;border:0;overflow:hidden;}
.home-banner .card__header{padding:12px 10px;background-color:#f5f5f5;text-align:center;font-weight:700;border-radius:inherit;}
.home-banner .card__body{padding:30px 40px;}
.home-banner .card__body .form-control{padding:10px 14px;border-radius:0;border:0;border-bottom:1px solid #cccccc;font-weight:700;}
.home-banner .card__button{padding:12px 10px;font-size:20px;font-weight:600;border:0px;color:white;background-color:#ff9b51;}

/*home-tabs*/
.home-tabs{padding:140px 0 120px;background-color: #f5f5f5}
.home-tabs .nav{--bs-nav-pills-link-active-bg:#ff8b38;flex:0 0 auto;margin-right:9%;border-radius:2px;overflow:hidden;gap:1px;}
.home-tabs .nav-link{width:110px;height:110px;display:flex;align-items:center;justify-content:center;font-size:15px;font-weight:700;text-transform:uppercase;color:#fff;background-color:#333333;border-radius:0;}
.home-tabs .tab-pane__title{margin-bottom:40px;font-weight:700;font-size:20px;}
.home-tabs .tab-pane__content{margin-bottom:40px;color:#999999;}
.home-tabs .tab-pane__btn{min-width:120px;padding:10px 10px;border:0px;color:white;background-color:#ff9933;border-radius:2px;}
.home-tabs .tab-pane__btn:hover{color:white;background-color:#ff8000;}

/*home-sublist*/
.home-sublist{padding:100px 0;}
.home-sublist__right{padding-left:25%;}
.home-sublist__title{position:relative;padding-bottom:30px;margin-bottom:30px;font-size:20px;font-weight:700;}
.home-sublist__title::after{content:'';position:absolute;bottom:0;left:0;width:64px;height:2px;background-color:#ff8b38;}
.home-sublist__excerpt{margin-bottom:40px;font-size:14px;font-weight:700;color:#999999;}
.home-sublist .icon-up{background-image:url('img/icon1\(40x40\).png');width:40px;height:40px;text-align:center;padding-top:5px;margin:20px 20px 0px 1rem;}

/*home-picture*/
.home-picture{padding:100px 0;background: #f5f5f5}
.home-picture__right{padding-left:25%;}
.home-picture__title{position:relative;padding-bottom:30px;margin-bottom:30px;font-size:20px;font-weight:700;}
.home-picture__title::after{content:'';position:absolute;bottom:0;left:0;width:64px;height:2px;background-color:#ff8b38;}
.home-picture__excerpt{margin-bottom:40px;font-size:14px;font-weight:700;color:#999999;}
/*home-why*/
.home-why {
    padding: 100px 0;
text-align: center;
}
.home-why .icon-70x70{position:relative;width:70px;height:70px;
    text-align:center;padding-top:20px;margin:10px auto 28px auto; border:2px solid #ff8b38;border-radius:50%;}

/*home-stylish*/
.home-stylish {
    padding: 60px 0;
    background-image:url('img/BGR5\(1400x320\).png');text-align:center;
}
.home-stylish__title {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
        font-size: 36px;
    color: white;
    font-weight: normal;
}
.home-stylish__title:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 64px;
    height: 2px;
    margin: 0 auto;
    background: #fff;
}
.home-stylish__btn {
    padding: 8px 30px;
    font-family: 'Raleway',sans-serif;
    border-radius: 0;
    color: #ffffff;
    border: 1px solid #fff;
}
.home-stylish__btn:hover{border-color:#fff;color:#fff;background-color:#000;}

/*home-contact*/
.home-contact {
    padding: 100px 0;
    text-align:center;
}
.home-contact .form-control{padding:10px 14px;border-radius:0;border:0;border-bottom:1px solid #cccccc;font-weight:700;}
.home-contact .form-control::placeholder{
    color: #cccccc;
}
.home-contact__btn {
        min-width: 150px;
    padding: 10px 10px;
    border: 0px;
    color: white;
    background-color: #ff9933;
    border-radius: 2px;
}
/*footer*/
.footer{
    background:#000;text-align:center;padding-top:15px;padding-bottom:5px;
    color: rgb(255 255 255 / 50%);
}

@media (max-width: 1199px) {
    .home-banner__title {
        font-size: 30px;
    }
}
@media (max-width: 991px) {
    body {
        padding-top: 66px;
    }
    .home-banner {
        padding: 80px 0;
    }
    .home-tabs {
padding: 80px 0;
    }
    .home-tabs .tab-pane__title{margin-bottom:20px}
    .home-sublist {
    padding: 80px 0;
}
.home-sublist__right {
    padding-left: 0;
}
.home-picture {
    padding: 80px 0;
}

.home-why {
    padding: 80px 0;
}
.home-why .title-our-process {
    font-size: 20px;
}
.home-contact {
    padding: 80px 0;
}

.our-process {
    font-size: 42px;
}

}

@media (max-width: 575px) {
    .home-banner__title {
    font-size: 24px;
}
.home-tabs .nav-link {
    width: 80px;
    height: 80px;
}
.our-process {
    font-size: 30px;
}
.home-stylish__title {
    font-size: 30px;
}
}